* {
	 margin: 0;
	 padding: 0;
	 border: 0;
	 box-sizing: border-box;
}
 @font-face {
	 font-family: 'Open Sans';
	 src: local('Open Sans Light'), local('OpenSans-Light'), url('../font/opensans/opensanslight.woff2') format('woff2'), url('../font/opensans/opensanslight.woff') format('woff');
	 font-weight: 300;
	 font-style: normal;
}
 @font-face {
	 font-family: 'Open Sans';
	 src: local('Open Sans'), local('OpenSans'), url('../font/opensans/opensans.woff2') format('woff2'), url('../font/opensans/opensans.woff') format('woff');
	 font-weight: 400;
	 font-style: normal;
}
 @font-face {
	 font-family: 'Open Sans';
	 src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../font/opensans/opensanssemibold.woff2') format('woff2'), url('../font/opensans/opensanssemibold.woff') format('woff');
	 font-weight: 600;
	 font-style: normal;
}
 @font-face {
	 font-family: 'Open Sans';
	 src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../font/opensans/opensansbold.woff2') format('woff2'), url('../font/opensans/opensansbold.woff') format('woff');
	 font-weight: 700;
	 font-style: normal;
}
 @font-face {
	 font-family: 'Open Sans';
	 src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('../font/opensans/opensansextrabold.woff2') format('woff2'), url('../font/opensans/opensansextrabold.woff') format('woff');
	 font-weight: 800;
	 font-style: normal;
}
 @font-face {
	 font-family: 'Heebo';
	 src: local('Heebo Light'), local('Heebo-Light'), url('../font/Heebo/Heebo-Light.eot?#iefix') format('embedded-opentype'), url('../font/Heebo/Heebo-Light.woff2') format('woff2'), url('../font/Heebo/Heebo-Light.woff') format('woff');
	 font-weight: 300;
	 font-style: normal;
}
 @font-face {
	 font-family: 'Heebo';
	 src: local('Heebo Medium'), local('Heebo-Medium'), url('../font/Heebo/Heebo-Medium.eot?#iefix') format('embedded-opentype'), url('../font/Heebo/Heebo-Medium.woff2') format('woff2'), url('../font/Heebo/Heebo-Medium.woff') format('woff');
	 font-weight: 500;
	 font-style: normal;
}
 @font-face {
	 font-family: 'Heebo';
	 src: local('Heebo Bold'), local('Heebo-Bold'), url('../font/Heebo/Heebo-Bold.eot?#iefix') format('embedded-opentype'), url('../font/Heebo/Heebo-Bold.woff2') format('woff2'), url('../font/Heebo/Heebo-Bold.woff') format('woff');
	 font-weight: 700;
	 font-style: normal;
}
 @font-face {
	 font-family: 'Heebo';
	 src: local('Heebo Regular'), local('Heebo-Regular'), url('../font/Heebo/Heebo-Regular.eot?#iefix') format('embedded-opentype'), url('../font/Heebo/Heebo-Regular.woff2') format('woff2'), url('../font/Heebo/Heebo-Regular.woff') format('woff');
	 font-weight: 400;
	 font-style: normal;
}
 a {
	 text-decoration: none;
	 transition: 0.3s all ease-in-out;
}
 a:hover {
	 text-decoration: none;
	 transition: 0.3s all ease-in-out;
}
 body {
	 background: #eeebe5;
	 min-height: 100vh;
	 font-family: 'Heebo', 'Open Sans', Arial, sans;
}
 .flex {
	 display: flex;
}
 .flex--center {
	 justify-content: center;
	 align-items: center;
}
 .form {
	 background: white;
	 border-radius: 8px;
}
 .form .gap--bottom {
	 margin-bottom: 25px;
}
 .form label {
	 font-family: 'Heebo';
	 font-weight: 400;
	 font-size: 16px;
	 line-height: 20px;
	 margin-bottom: 7px;
	 display: block;
}
 .form input:not([type="submit"]) {
	 display: block;
	 width: 100%;
	 height: 50px;
	 border-radius: 8px;
	 background: #eaeaea;
	 padding: 13px 20px;
	 font-size: 16px;
	 line-height: 24px;
	 font-family: 'Heebo';
	 font-weight: 400;
}
 .form input[type="submit"] {
	 background: #cef9c6;
	 padding: 15px 47px;
	 border-radius: 25px;
	 font-size: 15px;
	 line-height: 22px;
	 font-family: 'Heebo';
	 font-weight: 700;
	 margin: 40px 0;
	 cursor: pointer;
	 transition: 0.3s all ease-in-out;
}
 .form input[type="submit"]:hover {
	 background: #93f281;
	 transition: 0.3s all ease-in-out;
}
 .form__logo {
	 width: 198px;
	 height: auto;
	 margin-bottom: 70px;
}
 .form .team__select__layout {
	 width: 650px;
	 flex-flow: wrap;
	 justify-content: space-between;
}
 .form .radiobtn__immitation {
	 width: calc((100% - 20px) / 2);
	 padding: 25px 20px;
	 background: #f7f6f3;
	 border-radius: 8px;
	 cursor: pointer;
	 height: 80px;
	 position: relative;
	 display: flex;
	 align-items: center;
	 font-size: 18px;
	 line-height: 27px;
	 font-family: 'Heebo';
	 font-weight: 400;
	 margin-bottom: 20px;
}
 .form .radiobtn__immitation input {
	 position: absolute;
	 top: 0;
	 right: 0;
	 height: 0;
	 width: 0;
	 pointer-events: none;
	 opacity: 0;
}
 .form .radiobtn__immitation input:checked ~ .checkmark {
	 background: #a6f498;
	 transition: 0.3s all ease-in-out;
}
 .form .radiobtn__immitation input:checked ~ .checkmark svg * {
	 fill: white;
}
 .form .radiobtn__immitation .checkmark {
	 width: 30px;
	 height: 30px;
	 border-radius: 50%;
	 background: #fff;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 margin-right: 10px;
	 position: relative;
	 transition: 0.3s all ease-in-out;
}
 .form .radiobtn__immitation .checkmark svg {
	 width: 12px;
	 height: auto;
}
 .additional__info p, .additional__info a {
	 font-family: 'Heebo';
	 font-weight: 400;
	 font-size: 15px;
	 line-height: 22px;
	 display: inline;
	 color: #1d201c;
}
 .additional__info a {
	 text-decoration: underline;
}
 .additional__info a:hover {
	 color: #677263;
}
 .form--registration, .form--login {
	 padding: 80px 30px 70px 30px;
	 width: 505px;
}
 .form--setup {
	 width: 730px;
	 padding: 80px 40px 70px 40px;
}
 .form--setup .logo--compressed {
	 width: 70px;
	 height: auto;
	 margin: 0 auto;
	 display: block;
	 margin-bottom: 80px;
}
 .form--setup h1 {
	 font-size: 26px;
	 line-height: 38px;
	 font-family: 'Heebo';
	 font-weight: 700;
	 text-align: center;
	 margin-bottom: 60px;
}
 .form--setup input[type="submit"] {
	 margin-left: auto;
	 display: table;
	 margin-top: 5px;
	 margin-bottom: 0;
}
 .grid__layout {
	 display: grid;
	 grid-template-areas: "aside header " "aside main ";
	 grid-template-rows: 140px 1fr;
	 grid-template-columns: 270px 1fr;
	 grid-gap: 0;
	 height: 100vh;
	 margin: 0;
}
 aside {
	 grid-area: aside;
	 background: black;
	 overflow-y: scroll;
	 height: 100vh;
	 padding-bottom: 150px;
}
 header {
	 background: white;
	 grid-area: header;
	 padding: 35px 30px 0 30px;
	 overflow: hidden;
}
 .tab__navigation {
	 margin-top: 19px;
}
 .tab__navigation li {
	 list-style: none;
	 display: inline-block;
	 padding-bottom: 15px;
	 margin-right: 28px;
	 position: relative;
}
 .tab__navigation li:after {
	 content: '';
	 display: block;
	 height: 2px;
	 width: 42px;
	 background: transparent;
	 position: absolute;
	 bottom: 0;
	 left: 0;
}
 .tab__navigation a {
	 font-size: 16px;
	 line-height: 24px;
	 font-family: 'Heebo';
	 font-weight: 700;
	 color: #707070;
}
 .tab__navigation a:hover {
	 color: #a3a3a3;
}
 .tab__navigation .active:after {
	 background: #ffc200;
}
 .tab__navigation .active a {
	 color: black;
}
 main {
	 background: #eeebe5;
	 grid-area: main;
	 padding: 30px 30px 30px 30px;
	 height: calc(100vh - 140px);
}
 .logo__section {
	 padding: 30px 20px 30px 30px;
}
 .logo__section .aside--logo {
	 width: 130px;
	 height: auto;
}
 .user__section {
	 align-items: center;
	 padding: 16px 20px 16px 30px;
	 background: #202020;
	 margin-bottom: 20px;
}
 .user__icon {
	 border-radius: 50%;
	 width: 48px;
	 height: 48px;
	 margin-right: 15px;
	 flex-shrink: 0;
}
 .user__name, .user__role {
	 font-family: 'Heebo';
	 font-weight: 700;
	 font-size: 10px;
	 line-height: 14px;
	 color: white;
	 margin-bottom: 5px;
}
 .user__role {
	 margin-bottom: 0;
	 color: #9b9b9b;
}
 .user__statistics {
	 padding: 0 30px;
	 margin-bottom: 32px;
}
 .tasks--closed {
	 width: 60%;
}
 .tasks__number {
	 font-size: 20px;
	 line-height: 29px;
	 font-family: 'Heebo';
	 font-weight: 700;
	 color: white;
}
 .tasks__description {
	 font-size: 11px;
	 line-height: 18px;
	 color: #9b9b9b;
	 font-family: 'Heebo';
	 font-weight: 700;
	 white-space: nowrap;
}
 .section__title {
	 font-family: 'Heebo';
	 font-weight: 700;
	 font-size: 12px;
	 line-height: 18px;
	 text-transform: uppercase;
	 color: #9b9b9b;
	 margin-bottom: 13px;
	 padding-left: 30px;
}
 .menu {
	 margin-bottom: 30px;
}
 .menu__list li {
	 padding: 10px 30px;
	 transition: 0.3s all ease-in-out;
}
 .menu__list li:hover {
	 background: #1c1c1c;
	 transition: 0.3s all ease-in-out;
}
 .menu__list li a {
	 color: white;
	 font-size: 14px;
	 line-height: 22px;
	 font-family: 'Heebo';
	 font-weight: 700;
	 display: block;
}
 .menu .notification__count {
	 width: 20px;
	 height: 20px;
	 background: #ffc200;
	 border-radius: 50%;
	 display: inline-block;
	 text-align: center;
	 color: black;
	 margin-left: 7px;
}
 .projects {
	 margin-bottom: 30px;
}
 .projects__list li {
	 border-left: 5px solid transparent;
	 transition: 0.3s all ease-in-out;
	 padding: 10px 25px;
	 display: flex;
	 align-items: center;
}
 .projects__list li a {
	 color: white;
	 font-size: 14px;
	 line-height: 22px;
	 font-family: 'Heebo';
	 font-weight: 700;
	 display: inline-flex;
	 align-items: center;
	 white-space: nowrap;
	 width: 100%;
	 overflow: hidden;
	 position: relative;
}
 .projects__list li a:after {
	 content: '';
	 display: block;
	 width: 50px;
	 height: 100%;
	 position: absolute;
	 right: 0;
	 top: 0;
	 background: linear-gradient(to left, black, rgba(0, 0, 0, 0));
}
 .projects__list li:hover {
	 background: #1c1c1c;
	 transition: 0.3s all ease-in-out;
	 border-left: 5px solid #ffc200;
}
 .projects__list li:hover a:after {
	 background: linear-gradient(to left, #1c1c1c, rgba(0, 0, 0, 0));
}
 .projects__icon {
	 width: 20px;
	 height: 20px;
	 border-radius: 3px;
	 margin-right: 10px;
}
 .projects--create {
	 font-size: 14px;
	 line-height: 22px;
	 font-family: 'Heebo';
	 font-weight: 700;
	 color: #ffc200;
	 padding: 10px 30px;
	 display: block;
}
 .team__description {
	 align-items: center;
	 padding: 10px 30px;
}
 .team__side {
	 color: white;
	 font-size: 14px;
	 line-height: 22px;
	 font-family: 'Heebo';
	 font-weight: 700;
}
 .team__members {
	 margin-left: auto;
}
 .team__members img {
	 width: 20px;
	 height: 20px;
	 border-radius: 50%;
	 margin-left: 5px;
	 flex-shrink: 0;
}
 .prj__title__block {
	 align-items: center;
}
 .prj__title__block h1 {
	 font-size: 32px;
	 line-height: 47px;
	 font-family: 'Heebo';
	 font-weight: 700;
}
 .prj__icon {
	 width: 40px;
	 height: 40px;
	 border-radius: 5px;
	 margin-right: 15px;
	 flex-shrink: 0;
}
 .prj .members__block {
	 align-items: center;
	 margin-left: auto;
}
 .prj .members__block img {
	 width: 30px;
	 height: 30px;
	 border-radius: 50%;
	 flex-shrink: 0;
	 object-fit: cover;
	 margin-left: 5px;
}
 .kanban__block {
	 justify-content: space-between;
	 align-items: flex-start;
}
 .item__header {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
}
 .item__header .item__title {
	 font-size: 24px;
	 line-height: 35px;
	 font-family: 'Heebo';
	 font-weight: 700;
	 color: #131313;
}
 .item__header .item__btn {
	 font-family: 'Heebo';
	 font-weight: 700;
	 font-size: 12px;
	 line-height: 18px;
	 color: #1d201c;
	 background: #cef9c6;
	 border-radius: 20px;
	 padding: 11px;
}
 .column {
	 background: white;
	 border-radius: 8px;
	 padding: 30px;
	 height: auto;
}
 .task__column {
	 width: 350px;
	 max-height: 100%;
	 overflow-y: auto;
}
 .task__column .item__header {
	 margin-bottom: 20px;
}
 .task {
	 margin-bottom: 10px;
}
 .task:last-child {
	 margin-bottom: 0;
}
 .task__block {
	 padding: 20px 30px;
	 background: #f7f6f3;
	 border-radius: 8px;
	 display: block;
}
 .task__description {
	 font-size: 18px;
	 line-height: 27px;
	 font-family: 'Heebo';
	 font-weight: 400;
	 color: #131313;
	 margin-bottom: 8px;
	 max-height: calc(27px * 2.3);
}
 .task__executor {
	 width: 20px;
	 height: 20px;
	 border-radius: 50%;
	 margin-right: 10px;
}
 .task__label {
	 font-size: 12px;
	 line-height: 20px;
	 font-family: 'Heebo';
	 font-weight: 700;
	 padding: 1px 11px;
	 text-transform: uppercase;
}
 .task__label.development {
	 background: #fff1e2;
	 color: #ed6400;
}
 .task__label.marketing {
	 background: #f5f0ff;
	 color: #764ced;
}
 .task__label.design {
	 background: #e3efff;
	 color: #1975d0;
}
 .task__img {
	 width: 100%;
	 height: 85px;
	 object-fit: cover;
	 overflow: hidden;
	 margin-top: 20px;
}
 